@import "tailwindcss";

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  .animate-typing {
    display: inline-block;
    width: 0;
    animation: typing 3s steps(30, end) forwards;
  }


  /* ===== FIX AUTOFILL WHITE BACKGROUND ===== */
input:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #0b0f1a inset !important;
  box-shadow: 0 0 0px 1000px #0b0f1a inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #050816;
}